@import "bourbon/bourbon";

$font-family: "proxima-nova", "Proxima Nova", sans-serif;
$pink: #c0538d;
$red: #FF1177;

.unl-container * {
	box-sizing: border-box;
}

.unl-container {
	font-family: $font-family;
	background-color: #333333;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

// vr toggle and play button
.unl-button {
	position: relative;
	display: inline-block;
	width: 200px;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-align: center;
	user-select: none;
	z-index: 999;

	// separate from button so that opacity can be controlled separately from message
	.unl-button-box {
		padding: 11px;
		background-color: transparent;
		letter-spacing: 2px;
		line-height: 30px;
		border-radius: 6px;
		font-size: 16px;
		border: 3px solid #fff;
		text-shadow: 0 0 5px $pink;
		box-shadow: 0 0 0px #fff,
								0 0 5px transparentize($pink, 0.4),
								0 0 0px #fff inset,
								0 0 5px transparentize($pink, 0.4) inset;

		@include transition(text-shadow 0.5s,
												box-shadow 0.5s,
												color 0.5s,
												border-color 0.5s,
												background-color 0.5s);
	}

	&:not(.webvr-not-available):hover .unl-button-box {
		text-shadow: 0 0 10px #fff,
								 0 0 15px #fff,
								 0 0 20px $red,
								 0 0 30px $red,
								 0 0 40px $red,
								 0 0 50px $red,
								 0 0 60px $red;
		box-shadow: 0 0 10px #fff,
								0 0 40px $red,
								0 0 10px #fff inset,
								0 0 40px $red inset;
	}

	img {
		width: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}

	.unl-message {
		position: absolute;
		top: 100%;
		left: 0;
		line-height: 1;
		letter-spacing: 1px;
		font-size: 12px;
		padding: 15px 10px;
		width: 100%;

		@include transition(opacity 0.35s $ease-in-out-circ,
												text-shadow 0.35s $ease-in-out-circ);
	}

	&.webvr-not-available {
		.unl-button-box,
		.unl-message {
			opacity: 0.5;
		}

		&:hover .unl-message {
			opacity: 1;
			text-shadow: 0 0 10px $pink;
		}
	}

	@media (min-width: 470px) {
		+ .unl-button { margin-left: 20px; }
	}

	@media (max-width: 469px) {
		display: block;
		width: 100%;
	}
}

@media (max-width: 469px) {
	.unl-button:first-child { margin-bottom: 20px; }
	.unl-button.webvr-not-available { margin-bottom: 50px; }
}

.unl-button-container {
	position: absolute;
	bottom: 90px;
	width: 100%;
	text-align: center;
	padding: 0 20px;
	pointer-events: none;

	opacity: 0;
	@include transition(opacity 2s $ease-in-out-circ);

	body.unl-intro & {
		opacity: 1;
		pointer-events: auto;
	}

	@media (max-width: 469px) {
		bottom: 20px;
	}
}