@import "bourbon/bourbon";

body {
	font-family: sans-serif;
	background-color: #333333;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

// --------------------------------

$green: #2fbfc2;
$pink: #c0538d;

// styles from webvr.js

button {
	// font-family: "proxima-nova", "Proxima Nova", sans-serif;
	font-family: sans-serif;
}

// vr toggle
.button {
	display: inline-block;
	// width: 174px;
	width: 150px;
	padding: 11px;
	cursor: pointer;
	background-color: transparent;


	// background-image: url('../images/cardboard.svg');
	// background-repeat: no-repeat;
	// background-position: 20px center;
	
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 30px;
	color: $pink;
	border: 3px solid $pink;
	border-radius: 6px;
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	text-align: center;
	user-select: none;
	z-index: 999;
	
	box-shadow: 0 0 5px 1px transparentize($pink, 0.4),
							0 0 5px 1px transparentize($pink, 0.4) inset;

	@include transition(all 0.35s $ease-in-out-circ);

	&:hover {
		// background-color: shade($pink, 10%);
		background-color: transparentize($pink, 0.8);
		color: #fff;
		box-shadow: 0 0 15px 2px transparentize($pink, 0.4),
								0 0 15px 2px transparentize($pink, 0.4) inset;
	}

	img {
		width: 30px;
		vertical-align: middle;
		margin-right: 5px;
	}
}

.abs-bc {
	position: absolute;
	left: calc(50% - 87px);
	bottom: 20px;
}

// webvr error message
.message {

	$black: #101421;
	$line-height: 25px;
	$gray: #bcbdc0;
	$white: #fff;
	$font-size: 19px;

	// display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: $black;
	z-index: 1001;

	padding: $line-height ($line-height * 5) $line-height $line-height;

	.dialog {

		& > * {

			@include inline-block;
			font-size: $font-size * 0.66;
			line-height: $line-height * 0.66;
			color: $gray;

		}

		a {
			color: $gray;
			@include transition(color 0.35s $ease-in-out-circ);
			&:hover {
			 color: $white;
			}
		}

		p {
			margin: 0;
			margin-right: $line-height / 4;
		}
		p + p {
			margin-top: $line-height / 3;
		}

		button {
			position: absolute;
			right: $line-height;
			top: $line-height - $font-size / 2;
			background: $black;
			padding: $font-size / 2 $font-size $font-size * 0.4;
			border: 1px solid $gray;
			border-radius: $font-size / 3;
			cursor: pointer;
			@include transition(color 0.35s $ease-in-out-circ, border-color 0.35s $ease-in-out-circ);
			&:hover {
				color: $white;
				border-color: $white;
			}
		}

	}

}

// --------------------------------