@import "bourbon/bourbon";

* { box-sizing: border-box; }

$pink: #c0538d;
$font-family: "proxima-nova", "Proxima Nova", sans-serif;

body {
	font-family: $font-family;
	background-color: #333333;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

// vr toggle and play button
.button {
	position: relative;
	display: inline-block;
	width: 200px;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-align: center;
	user-select: none;
	z-index: 999;

	// separate from button so that opacity can be controlled separately from message
	.button-box {
		padding: 11px;
		background-color: transparent;
		letter-spacing: 2px;
		line-height: 30px;
		border: 3px solid #fff;
		border-radius: 6px;
		font-size: 16px;
		box-shadow: 0 0 5px 1px transparentize($pink, 0.4),
								0 0 5px 1px transparentize($pink, 0.4) inset;

		@include transition(box-shadow 0.35s $ease-in-out-circ,
												color 0.35s $ease-in-out-circ,
												background-color 0.35s $ease-in-out-circ);
	}


	&:not(.webvr-not-available):hover {
		background-color: transparentize($pink, 0.8);
		color: #fff;
		box-shadow: 0 0 15px 2px transparentize($pink, 0.4),
								0 0 15px 2px transparentize($pink, 0.4) inset;
	}

	img {
		width: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}

	.message {
		position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 15px 10px;
    width: 100%;

    @include transition(color 0.35s $ease-in-out-circ);
	}

	&.webvr-not-available {
		.button-box, .message {
			opacity: 0.5;
		}

		&:hover .message {
			opacity: 1;
			text-shadow: 0 0 10px $pink;
		}
	}

	@media (min-width: 470px) {
		+ .button { margin-left: 20px; }
	}

	@media (max-width: 469px) {
		display: block;
		width: 100%;

		+ .button { margin-top: 50px; }
	}
}

// button container, absolute bottom center
.abs-bc {
	position: absolute;
	bottom: 90px;
	width: 100%;
	text-align: center;
	padding: 0 20px;

	@media (max-width: 469px) {
		bottom: 20px;
	}
}