@import "bourbon/bourbon";

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.content {

  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  @include transition( opacity 0.35s $ease-in-out-circ);

  &.loaded {
    opacity: 1;
  }

  .play {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.33) url(../images/play-circle.svg) center center no-repeat;
    background-size: 25%;
    @include transition(opacity 0.35s $ease-in-out-circ);
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

  }

}

.hidden,
*.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.vr-button {
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  background: rgba(0,0,0,0.3);
  width: 80px;
  left: calc(50% - 40px);
  text-align: center;

  &:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.5);
  }
}
