@import "bourbon/bourbon";
@import "includes/neon-lights";

$font-family: "proxima-nova", "Proxima Nova", sans-serif;

* { box-sizing: border-box; }

body {
	font-family: $font-family;
	background-color: #333333;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}