.unl-container * {
  box-sizing: border-box; }

.unl-container {
  font-family: "proxima-nova", "Proxima Nova", sans-serif;
  background-color: #333333;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  overflow: hidden; }

.unl-title {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  body.unl-intro .unl-title {
    opacity: 1; }

.unl-button {
  position: relative;
  display: inline-block;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-align: center;
  user-select: none;
  z-index: 999; }
  .unl-button .unl-button-box {
    padding: 11px;
    background-color: transparent;
    letter-spacing: 2px;
    line-height: 30px;
    border-radius: 6px;
    font-size: 16px;
    opacity: 0.8;
    border: 3px solid #fff;
    text-shadow: 0 0 5px #c0538d;
    box-shadow: 0 0 0px #fff, 0 0 5px rgba(192, 83, 141, 0.6), 0 0 0px #fff inset, 0 0 5px rgba(192, 83, 141, 0.6) inset;
    -webkit-transition: text-shadow 0.5s, box-shadow 0.5s, color 0.5s, border-color 0.5s, background-color 0.5s, opacity 0.5s;
    -moz-transition: text-shadow 0.5s, box-shadow 0.5s, color 0.5s, border-color 0.5s, background-color 0.5s, opacity 0.5s;
    transition: text-shadow 0.5s, box-shadow 0.5s, color 0.5s, border-color 0.5s, background-color 0.5s, opacity 0.5s; }
  .unl-button:not(.webvr-not-available):hover .unl-button-box {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 30px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 60px #FF1177;
    box-shadow: 0 0 10px #fff, 0 0 40px #FF1177, 0 0 10px #fff inset, 0 0 40px #FF1177 inset; }
  .unl-button img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px; }
  .unl-button .unl-message {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: normal;
    padding: 5px 10px 8px 43px;
    width: 100%;
    -webkit-transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86), text-shadow 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86), text-shadow 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: opacity 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86), text-shadow 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .unl-button.webvr-not-available .unl-button-box,
  .unl-button.webvr-not-available .unl-message {
    opacity: 0.4; }
  .unl-button.webvr-not-available:hover .unl-message {
    opacity: 1;
    text-shadow: 0 0 10px #c0538d; }

.unl-button-container {
  position: absolute;
  bottom: 65px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: opacity 2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  body.unl-intro .unl-button-container {
    opacity: 1;
    pointer-events: auto; }
  body.has-mobile .unl-button-container {
    bottom: 20px; }

.unl-button-controls {
  margin-top: 20px; }

@media (max-width: 469px) {
  .unl-button-container {
    bottom: 20px; }

  .unl-button {
    display: block;
    width: 100%; }
    .unl-button + .unl-button {
      margin-top: 10px; }
    .unl-button .unl-button-box {
      padding: 7px;
      border-width: 2px; }

  .unl-button-controls {
    margin-top: 10px; } }
@media (min-width: 470px) {
  .unl-button + .unl-button {
    margin-left: 20px; } }
.unl-instructions-button {
  display: inline-block;
  opacity: 0.6;
  padding: 25px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .unl-instructions-button:hover {
    cursor: pointer;
    opacity: 1; }
  .unl-instructions-button img {
    width: 30px;
    height: 30px;
    margin-bottom: 6px; }

.unl-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.94);
  z-index: 1000;
  text-align: center;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .unl-modal.unl-modal-open {
    pointer-events: auto;
    opacity: 1; }

.unl-table {
  display: table;
  width: 100%;
  height: 100%; }

.unl-cell {
  display: table-cell;
  vertical-align: middle; }

.unl-cell-container {
  max-width: 800px;
  margin: 0 auto; }

.unl-modal-title {
  letter-spacing: 3px;
  font-size: 30px;
  margin: 0 0 30px; }

.unl-modal-img {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

body.has-mobile .unl-modal-img {
  max-width: 300px; }

.unl-tab-container {
  max-width: 400px;
  margin: 0 auto; }
  .unl-tab-container:after {
    content: '';
    display: table;
    clear: both; }

.unl-tab-column {
  width: 50%;
  float: left;
  padding: 10px; }

.unl-tab {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: #000;
  background: #828282;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold; }
  .unl-tab:hover {
    cursor: pointer; }
  .unl-tab.unl-tab-active {
    background: #eceba9; }

.unl-modal-x {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .unl-modal-x:hover {
    cursor: pointer;
    opacity: 1; }

/*# sourceMappingURL=site-neon-lights.css.map */
